<<<<<<< HEAD
<script src="/js/vendor/jquery-2.1.1.min.js"></script>
<div id="container">
</div>
<script src="/js/playground.js"></script>
<script>
  /**
    ASYNC ITERATION ASSIGNMENT!

    LEVEL 1: In playground.js, fix the iterative loop so that when you receive calls back from the server, the correct
      value for i is returned.
    
    LEVEL 2: Upon retrieving all of the callbacks from the server, sort them and construct the entire ordered string.
      Append them to #container. NOTE: to make sure that the string looks right, run a RegExp replace on the final string
      to replace "\n" with "<br />".

    LEVEL 3: Add a button to kick off this entire sequence. Upon receiving and appending your data from the server to the
    DOM, use setTimeout() to wait 3 seconds, and then request the data from the server again. Put these chunks in reverse
    order and append them to the DOM again.
  */
</script>
=======

<div id="bakery">
  	<div class="row">
    	
    	<div class="columns large-3">
    		<h4>Bake an Item:</h4>
      		<button class="make" data-good-type="cupcake">Make Cupcake</button>
      		<button class="make" data-good-type="cookie">Make Cookie</button>
    	</div>
    
    	<div class="columns large-3">
      		<h4>Available Ingredients:</h4>
      		<ul class="ingredients">
        		<li class="flour">Flour: <span></span></li>
        		<li class="eggs">Eggs: <span></span></li>
        		<li class="sugar">Sugar: <span></span></li>
        		<li class="spice">Spice: <span></span></li>
      		</ul>
    	</div>
    
    	<div class=" columns large-1"></div>
    
    	<div class="columns large-5">
      		<h4>Purchase New Supplies:</h4>
      		<form action="" id="buy-supplies">
      			<label class="columns large-4" for="ing">Ingredient        
			        <select class="buy" name="ing" id="ing">
	    		    	<option  name="ing" value="flour" />Flour
	          			<option  name="ing" value="eggs" />Eggs
	          			<option  name="ing" value="sugar" />Sugar
	          			<option  name="ing" value="spice" />Spice
	        		</select>   
	    		</label> 
      
        		<label class="columns large-4" for="qty">Quantity:
	        		<input type="text" class="buy" id = "qty" name="qty">
        		</label>

        		<label class="columns large-4" for="price">Price Paid:
	        		<input type="text" id = "price" class="buy" name="price">
        		</label>

				<input type="submit" class="button" value="Record Purchase" />		

      		</form>
    	</div>
 	</div>

<hr>

	<div class="row">
		<div class="columns large-12">
			<h2>Food Display Case</h2>
			<div class="display"></div>			
		</div>
	</div>


</div>
>>>>>>> FETCH_HEAD
