
<html>
<head>
  <title>Bakery Bonanza</title>
  <link rel="stylesheet" href="http://cdn.foundation5.zurb.com/foundation.css">  
  <style type="text/css">
  #bakery .display div { width: 200px; height: 200px; float: left; }
  #bakery .display .cupcake { background: url("http://i.imgur.com/9ix2JRZ.jpg"); }
  #bakery .display .cookie { background: url("http://i.imgur.com/Yxq78qn.jpg"); }
  #bakery .ingredients {list-style: none;}
  </style>
</head>
<body>
<%= erb :_header %>
<hr>
<%= yield %>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="./js/data.js"></script>
<script src="./js/logic.js"></script>
<script src="./js/presentation.js"></script>
</body>
</html>